<!--Loading Modal-->
<div id="LoadingModalWithGif" class="modal fade loading" role="dialog" style="margin-top:14%" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div id="gifModalLoadingHeader" class="modal-header modalHeaderType">

                <h4 id="gifModalLoadingHeaderValue" class="modal-title"></h4>
            </div>
            <div id="gifModalBodyLoadingMsg" class="modal-body">
                <div class="ImageBackground">
                    <img id="gifloadingImage" src="./assets/images/Processing.gif"
                        style="width: 20%;height: 20%;text-align: center;margin-left: 40%;" />
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <h3 id="gifLoadingMessage" style="color: #3F3F3F; text-align: center">Please Wait </h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 login-form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="margin-left:15%">Log in to Merapudo</h3>
                </div>
                <br>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" [formGroup]="login_form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" type="text"
                                    formControlName="userName">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password"
                                    formControlName="userPass" value="">
                            </div>
                            <button class="btn btn-lg btn-info btn-block" type="button" value="Login"
                                [disabled]="!login_form.valid" style="color:black" (click)="loginUser()">Login</button>
                            <br>
                            <span id="loginFailure" style="color:red"></span>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>